<md-card>

  <md-card-title>Your PnL is: {{yourPnL.toFixed(2)}} USD</md-card-title>

  <md-card-content>

<!--

    <app-account-component></app-account-component>

-->

    <md-input-container class="position-input-container" floatPlaceholder="auto">
      <input mdInput #filter placeholder="Currency">
    </md-input-container>

  </md-card-content>

</md-card>

<div class="position-container mat-elevation-z8">
  <md-table #table [dataSource]="positionSource">

    <ng-container cdkColumnDef="currency">
      <md-header-cell *cdkHeaderCellDef> Currency </md-header-cell>
      <md-cell *cdkCellDef="let position"> {{position.currency}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="quantity">
      <md-header-cell *cdkHeaderCellDef> Quantity </md-header-cell>
      <md-cell *cdkCellDef="let position"> {{position.quantity}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="account">
      <md-header-cell *cdkHeaderCellDef> Account </md-header-cell>
      <md-cell *cdkCellDef="let position"> {{position.account}} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let position; columns: displayedColumns;"></md-row>
  </md-table>
</div>
