<md-card class="about-card">

  <md-card-header>
    <div md-card-avatar class="about-header-image"></div>
    <md-card-title>FX workbench</md-card-title>
    <md-card-subtitle>Single page application featuring FX trading user interface</md-card-subtitle>
  </md-card-header>

  <md-card-content>

    <p>
      Uses live market data feed for major
      currency pairs (updated every 1 sec). Buy/sell functionality is provided for demo purposes only, no actual orders
      are sent to exchange.
    </p>

    <p>
      Provide position & PnL keeping as well as transaction history. No backend, so state is not persisted when page is
      reloaded.
    </p>

    <p>
      This application is built using <a href="https://angular.io">Angular 2</a>.
    </p>
  </md-card-content>

  <md-card-actions align="end">
    <a href="https://github.com/arkadius2006/forex2">View source on GitHib</a>
  </md-card-actions>
</md-card>

