<md-card>

  <md-card-content>

    <app-account-component #yourAccount></app-account-component>

    <md-input-container class="market-input-container" floatPlaceholder="auto">
      <input mdInput #yourCurrencyPair placeholder="Currency pair">
    </md-input-container>

    <md-input-container class="market-input-container" floatPlaceholder="auto">
      <input mdInput #yourQuantity placeholder="Quantity">
    </md-input-container>
  </md-card-content>

  <md-card-actions>
    <div class="buyBox">
      <button md-button (click)="onBuyButtonClicked()">BUY</button>
      <label class="bidLabel">Your bid is {{yourBid}}</label>
    </div>

    <div class="sellBox">
      <button md-button (click)="onSellButtonClicked()">SELL</button>
      <label class="askLabel">Your ask is {{yourAsk}}</label>
    </div>

  </md-card-actions>

</md-card>

