<md-card>

  <md-card-content>

    <app-account-component #yourAccount></app-account-component>

    <md-input-container class="market-input-container" floatPlaceholder="auto">
      <input mdInput #yourCurrencyPair placeholder="Currency pair">
    </md-input-container>

    <md-input-container class="market-input-container" floatPlaceholder="auto">
      <input mdInput #yourQuantity placeholder="Quantity">
    </md-input-container>

  </md-card-content>

  <md-card-actions>
    <button md-button (click)="onBuyButtonClicked()">BUY</button>
    <button md-button (click)="onSellButtonClicked()">SELL</button>
  </md-card-actions>

</md-card>


<div class="market-container mat-elevation-z8">

  <md-table #table [dataSource]="marketSource">

    <ng-container cdkColumnDef="currencyPair">
      <md-header-cell *cdkHeaderCellDef> Currency pair</md-header-cell>
      <md-cell *cdkCellDef="let quote"> {{quote.currencyPair}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="bid">
      <md-header-cell *cdkHeaderCellDef> Bid</md-header-cell>
      <md-cell *cdkCellDef="let quote"> {{quote.bid}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="ask">
      <md-header-cell *cdkHeaderCellDef> Ask</md-header-cell>
      <md-cell *cdkCellDef="let quote"> {{quote.ask}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="timestamp">
      <md-header-cell *cdkHeaderCellDef> Timestamp</md-header-cell>
      <md-cell *cdkCellDef="let quote"> {{quote.timestamp.toLocaleTimeString()}}</md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let quote; columns: displayedColumns;"></md-row>
  </md-table>
</div>


