<md-card>

  <md-card-content>


    <md-tab-group dynamicHeight="true">

      <md-tab>

        <ng-template md-tab-label>
          Market data
        </ng-template>

        <app-market-component></app-market-component>

      </md-tab>

      <md-tab>

        <ng-template md-tab-label>
          Order
        </ng-template>

        <app-order-component></app-order-component>

      </md-tab>

      <md-tab>
        <ng-template md-tab-label>
          Position and PnL
        </ng-template>

        <app-position-component></app-position-component>

      </md-tab>

      <md-tab>
        <ng-template md-tab-label>
          Trade capture
        </ng-template>

        <app-trade-component></app-trade-component>

      </md-tab>

      <md-tab>
        <ng-template md-tab-label>
          About
        </ng-template>

        <app-about-component></app-about-component>

      </md-tab>
    </md-tab-group>

  </md-card-content>
</md-card>
