<md-tab-group dynamicHeight="true">

  <md-tab>

    <ng-template md-tab-label>
      Market
    </ng-template>

    <app-market-component></app-market-component>

  </md-tab>

  <md-tab>
    <ng-template md-tab-label>
      Position
    </ng-template>

    <app-position-component></app-position-component>

  </md-tab>

  <md-tab>
    <ng-template md-tab-label>
      History
    </ng-template>

    <app-history-component></app-history-component>

  </md-tab>

  <md-tab>
    <ng-template md-tab-label>
      About
    </ng-template>

    <app-about-component></app-about-component>

  </md-tab>

  <md-tab>
    <ng-template md-tab-label>
      Account
    </ng-template>

    <app-account-component></app-account-component>

  </md-tab>

</md-tab-group>
